  <h1>新規登録</h2>

  <%= form_with model: User.new, url: user_registration_path, local: true do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form" %>
    </div>

    <div class="field">
      <%= f.label :real_name %><br />
      <%= f.text_field :real_name, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :postal_code %><br />
      <%= f.text_field :postal_code, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :address_detail %><br />
      <%= f.text_field :address_detail, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, autofocus: true, class: "form" %>
    </div>

    <div class="field">
      <%= f.label :birthday %><br />
      <%= f.date_select :birthday, {start_year: 1970, end_year: 2010,use_month_numbers: true} %>
    </div>

    <div class="field">
      <%= f.label :gender %><br>

        <%= f.radio_button :gender, true %>
        <%= f.label :gender, '男', value: true %>

        <%= f.radio_button :gender, false %>
        <%= f.label :gender, '女', value: false %>


    </div>


    <div class="actions">
      <%= f.submit "新規登録", class: "send" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>