<main>
  <h1>いいねした投稿一覧</h1>
    <div class="event_container">
      <% @favorites.each do |favorite|%>
        <div class="event_index">
          <%= attachment_image_tag favorite.event, :image, :fill, 400, 300, fallback: "/assets/noimage.png", size:'400x300'  %>
          <h3><%= link_to event_path(favorite.event.id) do %><%= favorite.event.name %><% end %></h3>
          <p><%= favorite.event.date %></p>
          <p><%= favorite.event.address %></p>
        </div>
      <% end %>
    </div>
</main>