<h1>主催イベント一覧</h1>
  <table>
    <tr>
      <th>開催日</th>
      <th>開始時刻</th>
      <th>イベント名</th>
      <th>集合場所</th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.date.strftime( "%Y年%m月%d日" )  %></td>
        <td><%= event.start_time.strftime( "%H:%M" ) %></td>
        <td><%= link_to event_path(event.id) do %><%= event.name %><% end %></td>
        <td><%= event.meeting_place %></td>
      </tr>
    <% end %>
  </table>