<div class="container">
<div class="info">
<div class="profile_image">
  <%= attachment_image_tag @user, :image, fallback: "/assets/noimage.png", size: "130x130" %>
  <p><%= @user.name %></p>
</div>

<p>居住地
  <%= @user.address %>
</p>
<p>紹介文
  <%= @user.introduction %>
</p>
<p>年齢
  <%= @user.age %>歳
</p>
</div>

<div class="content">
  あああ
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>