<main>
  <div class="container">
    <div class="info">
      <div class="profile_image">
        <%= attachment_image_tag @user, :image, :fill, 160, 160, fallback: "/assets/noimage.png", size:'160x160' %>
        <p><%= @user.name %></p>

    <!-- フォローボタン（ログイン中かつマイページではない） -->
    <% if user_signed_in? %>
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to user_relationships_path(@user.id), method: :delete do %><i class="fas fa-user-alt"></i> フォロー中<% end %><br/>
        <% else %>
          <%= link_to user_relationships_path(@user.id), method: :post do %><i class="fas fa-plus"></i> フォローする<% end %><br/>
        <% end %>
      <% end %>
    <% end %>

        follow：<%= link_to user_followings_path(@user.id) do %><%= @user.followings.count %><% end %> |
        follower：<%= link_to user_followers_path(@user.id) do %><%= @user.followers.count %><% end %>

      </div>
      <p>居住地
        <%= @user.address %>
      </p>
      <p>紹介文
        <%= @user.introduction %>
      </p>
      <p>年齢
        <%= @user.age %>歳
      </p>
      <p>ジャンル
        <%= @user.genre %>
      </p>
      <p>Twitter Instagram Facebook LINE</p>
      <p><%= link_to "編集",edit_user_path(@user) %></p>

  <!--現在ログインしているユーザーではない場合 -->
  <% unless @user.id == current_user.id %>
    <!-- 既にルームが作成されている場合はそのチャットルームに遷移するボタンを表示 -->
    <% if @have_room == true %>
     <%= link_to "ダイレクトメッセージ", room_path(@room_id) %>
    <% else %>
      <!-- roomsテーブルに情報を送信 -->
      <%= form_with model: @room, local: true do |f|%>
      <!-- room_usersテーブルに情報を送信 -->
        <%= hidden_field_tag 'room_user[user_id]', @user.id %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>


    </div>

    <div class="content">
      <h1>主催イベント（直近3件）</h1>
        <table>
          <tr>
            <th>開催日</th>
            <th>イベント名</th>
            <th>詳細</th>
          </tr>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.date %></td>
              <td><%= event.name %></td>
              <td><%= link_to "show", event_path(event.id) %></td>
            </tr>
          <% end %>
        </table>
        <%= link_to "さらに見る", host_user_path %>

      <h1>参加イベント（直近3件）</h1>
        <table>
          <tr>
            <th>開催日</th>
            <th>イベント名</th>
            <th>詳細</th>
          </tr>
          <% @attends.each do |attend| %>
            <tr>
              <td><%= attend.event.date %></td>
              <td><%= attend.event.name %></td>
              <td>詳細</td>
            </tr>
          <% end %>
        </table>

        <%= link_to "さらに見る", attend_user_path %>


      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</main>