<h1>Events#confirm</h1>
<%= form_with model: @event, url: events_path, method: :post, local:true do |form| %>
    <h2>写真</h2>
      <%= attachment_image_tag @event, :image, :fill, 300, 300, fallback: "/assets/noimage.png" %>
    <h2>イベントタイトル</h2>
      <%= @event.name %>
    <h2>開催地（市まで）</h2>
      <%= @event.address %>
    <h2>開催地（市以降）</h2>
      <%= @event.address_detail %>
    <h2>開催日</h2>
      <%= @event.date %>
    <h2>開始時間</h2>
      <%= @event.start_time %>
    <h2>終了予定時間</h2>
      <%= @event.end_time %>
    <h2>紹介文</h2>
      <%= @event.introduction %>
    <h2>参加条件</h2>
      <%= @event.requirement %>
    <h2>募集締め切り日</h2>
      <%= @event.deadline %>
    <h2>持ち物</h2>
      <%= @event.belongings %>
    <h2>集合場所</h2>
      <%= @event.meeting_place %>
    <h2>注意事項</h2>
      <%= @event.attention %>

      <%= form.hidden_field :id, value: @event.id %>

  <%= link_to 'back', new_event_path(id: @event.id) %>

	<%= form.submit '送信する' %>
<% end %>
