<h1>イベントタイトル</h1>
  <%= @event.name %>
<h2>写真</h2>
  <%= attachment_image_tag @event, :image, :fill, 400, 400, fallback: "/assets/noimage.png" %>
<h2>開催日時</h2>
  <%= @event.date %>
  <%= @event.start_time %>から<%= @event.end_time %>
<h2>参加人数</h2>
<h2>参加条件</h2>
  <%= @event.requirement %>
<h2>説明</h2>
  <%= @event.introduction %>
<h2>開催地</h2>
  <%= @event.address %>
