<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @event.full_address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

  <!-- イベント名 -->
  <h1><%= @event.name %></h1>


    <!-- いいね -->
    <div class="<%= "event_" + @event.id.to_s %>", style="display:inline-block;">
      <%= render "favorites/favorite", event: @event %>
    </div>

    <!-- イベント開催、参加ボタン -->
    <% unless Date.current > @event.date %>
      <button class="button02">開催前</button>
        <!-- もしイベントが募集中だったら-->
        <% if @event.recruitment == true %>
          <button class="button02">参加募集中</button>
        <% else %>
          <button class="button01">募集終了しました</button>
        <% end %>
    <% else %>
      <button class="button01">開催終了</button>
    <% end %>

    <b>募集期日 <%= @event.deadline %></b>

  <div class="container">
    <!-- イベント写真 -->
    <div class="event_image">
      <%= attachment_image_tag @event, :image, :fill, 600, 400, fallback: "/assets/noimage.png" %>
    </div>


    <div class="event_main">
      <p>＊<%= @event.genre.name %></p>
      <p>
        <h2>開催日時</h2>
          <%= @event.date.strftime('%Y年%m月%d日') %>
          <%= @event.start_time.strftime( "%H:%M" ) %>から<%= @event.end_time.strftime( "%H:%M" ) %>
      </p>
      <p>
        <h2>開催地　</h2>
          <%= @event.address %>
      </p>
      <p>
        <h2>参加人数</h2>
          <%= @event.reservations.where(permission: "done").count %>人/<%= @event.number %>人（定員）
      </p>
      <p>
        <h2>参加条件</h2>
          <%= @event.requirement %>
      </p>
      <br>

    <% if user_signed_in? %>
      <!-- 予約ボタン表示 -->
      <!-- 現在のユーザーがイベントの主催ユーザーじゃなかったら-->
      <% if user_signed_in? && current_user != @event.user %>

        <!-- もしイベントが募集中で、現在のユーザーがこのイベントを予約していなかったら-->
        <% if @event.recruitment && Reservation.find_by(event_id: @event, user_id: current_user).nil? %>
          <%= link_to new_event_reservation_path(@event) do %>
            <button class="btn03">予約へ進む</button>
          <% end %>
        <% end %>

      <!-- 現在のユーザーがイベントの主催ユーザーだったら-->
      <% else %>
        <!-- 編集リンク表示 -->
        <%= link_to edit_event_path(@event) do %>編集する<% end %>
      <% end %>

    <% else %>
    ※予約にはログインが必要です。
    <% end %>


    </div>
  </div>

  <div class="event_detail">
    <h3>主催者</h3><br>
    <div class="host_image">
      <%= attachment_image_tag @event.user, :image, :fill, 200, 200, style: "border-radius:100px;",
      fallback: "/assets/noimage.png", size:'200x200' %><br>
      <%= link_to user_path(@event.user.id) do %><%= @event.user.name %><% end %>
    </div>
    <div class="balloon2-left">
      <%= @event.introduction %>
    </div>
    <br>

    <h3>開催地（詳細）</h3>
      <p><%= @event.address %><%= @event.address_detail %></p>

<div id="map"></div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

    <!--以下はログイン中のみ-->

    <% if user_signed_in? %>
    <!-- コメント -->
    <div class="comment_ajax">
      <%= render "comments/comment", event: @event, comment: @comment %>
    </div>

      <h5><p>コメントを投稿する</p></h5>
        <%= form_with(model:[@event, @comment]) do |f| %>
          <p>
            <%= f.text_area :comment, class: "comment_form", rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する", :class => 'comment_send' %>
          </p>
        <% end %>
    </div>


      <h3>参加予定者</h3>
        <ul>
          <% @attendreservations.each do |attendreservations| %>
            <li>
              <%= link_to user_path(attendreservations.user) do %>
                <%= attendreservations.user.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
    <% end %>

<!--もしこのイベントの自分の予約がtrueだったら -->

    <% if @attend.present? %>
    <h2 style="margin-top:15px;">参加者への連絡事項</h2>
      <h5><p>※以下項目は参加者にのみ表示されています</p></h5>
        <h3>待ち合わせ場所</h3>
        <p><%= @event.meeting_place %></p>
        <h3>持ち物</h3>
        <p><%= @event.belongings %></p>
        <h3>注意事項</h3>
        <p><%= @event.attention %></p>
    <% end %>

    <% if current_user != nil && @event.user.id = current_user.id %>
      <h2 style="margin-top:15px;">参加承認</h2>
        <h5><p>※以下項目は主催者にのみ表示されています</p></h5>
        <table>
          <tr>
            <th>予約したユーザー</th>
            <th>予約時のコメント</th>
            <th>承認ステータス状態</th>
          </tr>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.user.name %></td>
            <td><%= reservation.comment %></td>
            <td>
              <%= form_with model: reservation, url: event_reservation_path(reservation.event, reservation), local: true do |f| %>
                <%= f.select :permission, Reservation.permissions.keys.map {|k| [I18n.t("enums.reservation.permission.#{k}"), k]} %>
                <%= f.submit "更新", class: "" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <br><br><br>