<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @event.full_address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

  <!-- イベント名 -->
  <h1><%= @event.name %></h1>
  <button class="btn_tag"><%= @event.genre.name %></button>


    <!-- いいね -->
    <div class="<%= "event_" + @event.id.to_s %>", style="display:inline-block;">
      <%= render "favorites/favorite", event: @event %>
    </div>

    <!-- イベント開催、参加ボタン -->
    <% unless Date.current > @event.date %>
      <button class="button02">開催前</button>
        <!-- もしイベントが募集中だったら-->
        <% if @event.recruitment == true %>
          <button class="button02">参加募集中</button>
        <% else %>
          <button class="button01">募集終了しました</button>
        <% end %>
    <% else %>
      <button class="button01">開催終了</button>
    <% end %>


  <div class="container">
    <!-- イベント写真 -->
    <div class="event_image">
      <%= attachment_image_tag @event, :image, :fill, 600, 400, fallback: "/assets/noimage_event.jpg", size:'600x400', class:"img-responsive" %>
    </div>


    <div class="event_main">
      <p>
        <h2>開催日時</h2><br>　　<i class="fas fa-clock"></i>
          <%= @event.date.strftime('%Y/%m/%d') %>
          <%= @event.start_time.strftime( "%H:%M" ) %>から<%= @event.end_time.strftime( "%H:%M" ) %>
      </p>
      <p>
        <h2>開催地</h2><br>　　<i class="fas fa-map-marker"></i>
          <%= @event.address %>
      </p>
      <p>
        <h2>参加人数</h2><br>　　<i class="fas fa-sort-amount-down"></i>
          <%= @event.reservations.where(permission: "done").count %>人/<%= @event.number %>人（定員）
      </p>
      <p>
        <h2>参加条件</h2><br>　　<i class="fas fa-exclamation"></i>
          <%= @event.requirement %>
      </p>

    <% if user_signed_in? %>
      <!-- 予約ボタン表示 -->
      <!-- 現在のユーザーがイベントの主催ユーザーじゃなかったら-->
      <% if user_signed_in? && current_user != @event.user %>

        <!-- もしイベントが募集中で、現在のユーザーがこのイベントを予約していなかったら-->
        <% if @event.recruitment && Reservation.find_by(event_id: @event, user_id: current_user).nil? %>
          <%= link_to new_event_reservation_path(@event) do %>
            <button class="btn03">予約へ進む</button>
          <% end %>
        <% end %>
      　<i class="fas fa-hourglass"></i> 募集〆 <%= @event.deadline.strftime('%Y/%m/%d') %> 23:59

      <!-- 現在のユーザーがイベントの主催ユーザーだったら-->
      <% elsif  user_signed_in? && current_user == @event.user && @event.date > Date.current %>
        <!-- 編集リンク表示 -->
        <%= link_to edit_event_path(@event) do %>投稿内容を編集する<% end %>
      <% end %>

    <% else %>
    ※予約にはログインが必要です。
    <% end %>


    </div>
  </div>

  <div class="event_detail">
    <h3>主催者</h3>
    <div class="text">
      <div class="host_image">
        <%= attachment_image_tag @event.user, :image, :fill, 200, 200, style: "border-radius:100px;", class:"img-responsive",
        fallback: "/assets/noimage.png", size:'200x200' %><br>
        <%= link_to user_path(@event.user.id) do %><%= @event.user.name %><% end %>
      </div>
      <div class="balloon2-left">
        <%= @event.introduction %>
      </div>
    </div>
    <h3>開催地（詳細）</h3>
      <div class="text">
        <%= @event.address %><%= @event.address_detail %>
        <div id="map"></div>
      </div>

      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
      </script>


    <!--以下はログイン中のみ-->

    <% if user_signed_in? %>
    <!-- コメント -->
    <div class="comment_ajax">
      <%= render "comments/comment", event: @event, comment: @comment %>
    </div>

        <div class="text">
          <h5>コメントを投稿する</h5>
          <%= form_with(model:[@event, @comment]) do |f| %>
              <%= f.text_area :comment, class: "comment_form", class: "comment_form",placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: "send" %>
          <% end %>
        </div>


      <h3>参加予定者</h3>
        <ul>
          <% @attendreservations.each do |attendreservations| %>
            <li>
              <%= link_to user_path(attendreservations.user) do %>
                <%= attendreservations.user.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
    <% end %>
    </div>


<!--もしこのイベントの自分の予約がtrueだったら -->

    <% if @attend.present? || current_user != nil && @event.user == current_user %>
    <h2 style="margin-top:15px;">参加者への連絡事項</h2>
      <div class="text">
        <h5>※以下項目は参加者にのみ表示されています</h5>
        <h3>待ち合わせ場所</h3>
        <p><%= @event.meeting_place %></p>
        <h3>持ち物</h3>
        <p><%= @event.belongings %></p>
        <h3>注意事項</h3>
        <p><%= @event.attention %></p>
      </div>
    <% end %>

    <% if current_user != nil && @event.user == current_user %>
      <h2 style="margin-top:15px;">参加承認</h2>
        <div class="text">
          <h5>※以下項目は主催者にのみ表示されています</h5>
            <div class="scroll">
              <table class="tbl", style="width:700px;">
                <tr>
                  <th>予約したユーザー</th>
                  <th>予約時のコメント</th>
                  <th width="260">承認ステータス状態</th>
                </tr>
              <% @reservations.each do |reservation| %>
                <tr>
                  <td>
                    <%= link_to user_path(reservation.user) do %>
                      <%= reservation.user.name %>
                    <% end %>
                  </td>
                  <td><%= reservation.comment %></td>
                  <td>
                <% if reservation.permission != "done" %>
                    <%= form_with model: reservation, url: event_reservation_path(reservation.event, reservation), local: true do |f| %>
                      <%= f.select :permission, Reservation.permissions.keys.map {|k| [I18n.t("enums.reservation.permission.#{k}"), k]} %>
                      <%= f.hidden_field :event_id, value: @event.id %>
                      <%= f.submit "更新", class: "" %>
                    <% end %>
                <% else %>
                    <%= reservation.permission_i18n %>済
                    <small>承認後は変更できません</small>
                <% end %>
                  </td>
                </tr>
              <% end %>
              </table>
            </div>
          </div>
    <% end %>
  </div>
  </div>