  <h1>予約確認ページ</h1>
    <table>
          <tr>
            <th>イベントタイトル</th>
            <td><%= @event.name %></td>
          </tr>
          <tr>
            <th>開催日時</th>
            <td><%= @event.date.strftime('%Y年%m月%d日') %> <%= @event.start_time.strftime( "%H:%M" ) %>から<%= @event.end_time.strftime( "%H:%M" ) %></td>
          </tr>
          <tr>
            <th>開催地</th>
            <td><%= @event.address %><%= @event.address_detail %></td>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= @event.introduction %></td>
          </tr>
          <tr>
            <th>参加条件</th>
            <td><%= @event.requirement %></td>
          </tr>
        </table>


  <h1>予約ユーザー情報</h1>   ※<small>主催者への開示情報</small><br>
    <h3>ユーザーネーム</h3>
      <p><%= current_user.name %></p>
    <h3>予約に際しての確認事項</h3>
      <p>
        <b>※参加条件を満たしていますか？</b><br>
        <b>※仮予約段階です。主催者が承認して本予約完了となります。</b><br>
        <b>※主催者からの承認がない（または棄却された）場合、参加できません。</b><br>
        <b>※待ち合わせ場所や持ち物などの詳細は本予約完了してからのお知らせとなります。</b></p>
    <h3>コメント</h3>
      <p><b>主催者へ伝えたいことがあればご記入ください</b></p>
      <p><%= @reservation.comment %></p>

      <%= form_with model: @reservation, url: event_reservations_path, method: :post, local:true do |f| %>

        <%= f.hidden_field :comment %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :date, value: @event.date %>

      <p><%= f.submit '送信' %></p>
      <% end %>

      <%= form_with model: @reservation, url: back_event_reservations_path, method: :post, local:true do |f| %>

        <%= f.hidden_field :comment %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :date, value: @event.date %>

      <p><%= f.submit '入力画面へ戻る' %></p>
      <% end %>
