<main>
<div class="chat-room">
 <h1>メッセージ</h1>
 <% @room_users.each do |r| %>
 <div class="user-name">
 <strong>
    <%= link_to user_path(r.user.id) do %>
      <%= r.user.name %>さん
    <% end %>
 </strong>
 </div>
 <% end %>

 <hr>
  <div id="direct_messages" room_id="<%= @room.id %>">
    <%= render "messages/message", messages: @messages %>
  </div>


<br><br><br>


   <div class="message">
     <%= form_with model: @message, remote: true do |f| %>
       <%= f.text_field :body, class: "dm_form", placeholder: "メッセージを入力してください" %>
       <%= f.hidden_field :room_id, value: @room.id %>
       <%= f.submit "送信する", :class => 'comment_send' %>
     <% end %>
   </div>


 </div>
</div>
</main>