<div class="chat-room" id="top">
 <h2>
  <% @room_users.each do |r| %>
    <%= link_to user_path(r.user.id) do %>
      <%= r.user.name %>さん
    <% end %>
 <% end %>
 のトークルーム
 </h2>

  <div id="messages" room_id="<%= @room.id %>">
    <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <%= render "messages/message", message: message, current_user_id: current_user.id %>
        <% end %>
      <% else %>
        <p>メッセージはまだありません</p>
      <% end %>
      </div>
      </div>
  </div>

<br><br><br>


   <div id="message" class="message" data-room_id="<%= params[:id] %>" data-user_id="<%= current_user.id %>">
     <%#= form_with model: @message, remote: true do |f| %>
       <%#= input_field :body, class: "dm_form", data: { behavior: "room_speaker" }, placeholder: "メッセージを入力してください" %>
       <%#= f.hidden_field :room_id, value: @room.id %>
       <%#= f.submit "送信する", :class => 'comment_send' %>
      <input id="chat-input" type="text" style="width:300px;"></input><br>
     <%# end %>
   </div>


 </div>
</div>