<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/a089111b95.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーメニュー-->
    <header>
      <div class="logo"><%= link_to "odoroots", root_path %></div>

      <ul class="nav">
        <!--ユーザー認証後メニュー-->
        <% if user_signed_in? %>
          <li>
            <%= link_to new_event_path do %><i class="fas fa-plus"></i>イベント<% end %>
          </li>

          <li>
            <%= link_to events_path do %><i class="fas fa-search-plus"></i>イベント<% end %>
          </li>
          <li>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
            <%= link_to notifications_path do %><i class="fas fa-bell"></i>通知<% end %>
          </li>
          <li>
            <%= link_to favorites_path do %><i class="fas fa-heart"></i>いいね<% end %>
          </li>
          <li>
            <%= link_to rooms_path do %><i class="fas fa-envelope"></i>DM<% end %>
          </li>
          <li>
            <%= link_to calendar_user_path(current_user) do %><i class="fas fa-calendar-alt"></i>カレンダー<% end %>
          </li>
          <li>
            <i class="fas fa-user"></i>
            <%= link_to "マイページ", user_path(current_user) %>
          </li>
          <li>
            <i class="fas fa-sign-out-alt"></i>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <!--ユーザー未認証メニュー-->
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </header>
    <!-- ヘッダーメニューここまで -->

    <main>
      <!--フラッシュメッセージ-->
      <span><%= notice %><%= alert %></span>

      <%= yield %>
    </main>

  </body>
</html>