<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a089111b95.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ハンバーガーメニューjavascript -->
    <script type="text/javascript">

      $(function() {
        $('#hamburger').on('click', function(){
        $('.icon').toggleClass('close');
        $('.small').slideToggle();
        });
      });

    </script>

    <!--ヘッダーメニュー-->
    <header>
      <div class="logo"><%= link_to "odoroots", root_path %></div>

      <!-- ハンバーガーメニュー -->
        <div id="hamburger">
            <div class="icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

      <!-- ハンバーガーメニュー内容 -->
      <div class="small">
        <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to new_event_path do %><i class="far fa-plus-square"></i>イベントを主催<% end %>
            </li>
            <li>
              <%= link_to events_path do %><i class="fas fa-search-plus"></i>イベントを検索<% end %>
            </li>
            <li>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
              <%= link_to notifications_path do %><i class="fas fa-bell"></i>通知<% end %>
            </li>
            <li>
              <%= link_to favorites_path do %><i class="fas fa-heart"></i>いいね <% end %>
            </li>
            <li>
              <%= link_to rooms_path do %><i class="fas fa-envelope"></i>DM<% end %>
            </li>
            <li>
              <%= link_to calendar_user_path(current_user) do %><i class="fas fa-calendar-alt"></i>イベントカレンダー<% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %><i class="fas fa-user"></i>マイページ<% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %>
            </li>
          </ul>
        <!--ユーザー未認証メニュー-->
        <% else %>
          <ul>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
      <!-- ハンバーガーメニューここまで -->

      <!-- 通常メニュー  -->
      <div class="pc">
        <% if user_signed_in? %>
          <ul>
            <li>
              <%= link_to new_event_path do %><i class="far fa-plus-square"></i>イベントを主催<% end %>
            </li>
            <li>
              <%= link_to events_path do %><i class="fas fa-search-plus"></i>イベントを検索<% end %>
            </li>
            <li>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
              <%= link_to notifications_path do %><i class="fas fa-bell"></i><% end %>
            </li>
            <li>
              <%= link_to favorites_path do %><i class="fas fa-heart"></i><% end %>
            </li>
            <li>
              <%= link_to rooms_path do %><i class="fas fa-envelope"></i><% end %>
            </li>
            <li>
              <%= link_to calendar_user_path(current_user) do %><i class="fas fa-calendar-alt"></i><% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %><i class="fas fa-user"></i><% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i><% end %>
            </li>
          </ul>
        <!--ユーザー未認証メニュー-->
        <% else %>
          <ul>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
      <!-- 通常メニューここまで -->
    </header>
    <!-- ヘッダーメニューここまで -->

    <main>
      <!--フラッシュメッセージ-->
      <div><%= notice %><%= alert %></div>
      <%= yield %>
    </main>

  </body>
</html>